* {
       box-sizing: border-box;
       font-family: 'Crimson Text', Times, serif;
       margin: 0;
       padding: 0;
       text-decoration: none;
}

body {
       background: #F2FFFC;
}

h1, h2 {
       font-family: 'Open Sans Condensed', Arial, sans-serif;
}

h1 {
       background-color: #851944;
       color: #fff;
}

p {
       text-align: justify;
}