* {
       box-sizing: border-box;
       font-family: 'Crimson Text', Times, serif;
       text-decoration: none;
}

article {
       padding-bottom: 30px;
       border-bottom: solid 1px #CCC;
       margin-bottom: 20px;
}

aside {
       background: #3C1D3D;
       padding: 20px;
       text-align: center;
}

aside h1 {
       font-size: 30px;
       margin-bottom: 25px;
}

aside > ul li {
       display: inline-block;
}

aside, aside a, footer {
       color: #F2FFFC;
}

blockquote {
       background: #D9E5E3;
       border: 10px #c2ccca solid;
       margin: 20px 40px;
       padding: 20px;
       width: 250px;
}

body {
       background: #F2FFFC;
}

cite {
       float: right;
       font-style: italic;
}

div {
       margin: auto;
       padding: 30px 0;
       width: 720px;
}

em {
       font-style: italic;
}

h1, h2 {
       font-family: 'Open Sans Condensed', Arial, sans-serif;
}

h2 {
       font-size: 30px;
       clear: both;
}

main {
       float: left;
       line-height: 1.5;
       width: 85%;
       padding-bottom: 60px;
}

main a {
       color: #851944;
       font-family: "Open Sans Condensed", sans-serif;
}

main h1 {
       background-color: #851944;
       border-bottom: 10px solid #000;
       color: #fff;
       font-size: 60px;
       margin: 0;
       padding: 25px;
       text-align: center;
       text-transform: uppercase;
}

p {
       margin: 20px 0;
       text-align: justify;
}

strong {
       font-weight: bold;
}

ul {
       list-style-type: none;
}

#mainFooter {
       background: #000;
       clear: both;
       padding: 20px;
       width: 100%;
       position: fixed;
       left: 0;
       bottom: 0;
}

.colorWhite {
       color: #F2FFFC;
}

.fiat {
       float: right;
}

.github {
       background-image: url(github.png);
}

.leiaMais {
       background: #3C1D3D;
       color: #F2FFFC;
       display: block;
       font-size: 20px;
       margin: 16px;
       padding: 8px;
       text-align: center;
}

.linkedin {
       background-image: url(linkedin.png);
}

.iconesMidiasSociais a {
       display: inline-block;
       height: 40px;
       color: transparent;
       width: 40px;
}

.menuNavegacao {
       float: right;
       border-left: 10px solid black;
       border-bottom: 10px solid black;
       width: 15%;
       position: relative;
       top: 310px;
}

img {
       width: auto;
       height: 310px;
       position: absolute;
       top: 0;
       right: 0;
       float: right;
       border-left: 10px solid black;
       border-bottom: 10px solid black;
}

.petrobras {
       float: left;
}

.twitter {
       background-image: url(twitter.png);
}