* {
       box-sizing: border-box;
       font-family: 'Crimson Text', Times, serif;
       margin: 0;
       padding: 0;
       text-decoration: none;
}

aside {
       background: #3C1D3D;
}

aside, aside a, footer {
       color: #F2FFFC;
}

blockquote {
       background: #D9E5E3;
}

body {
       background: #F2FFFC;
}

footer {
       background: #000;
}

h1, h2 {
       font-family: 'Open Sans Condensed', Arial, sans-serif;
}

main a {
       color: #851944;
       font-family: "Open Sans Condensed", sans-serif;
}

main h1 {
       background-color: #851944;
       color: #fff;
}

p {
       text-align: justify;
}