* {
       box-sizing: border-box;
       font-family: 'Crimson Text', Times, serif;
       text-decoration: none;
}

article {
       padding-bottom: 30px;
       border-bottom: solid 1px #CCC;
       margin-bottom: 20px;
}

aside {
       background: #3C1D3D;
       padding: 20px;
       text-align: center;
}

aside h1 {
       font-size: 30px;
       margin-bottom: 25px;
}

aside > ul li {
       display: inline-block;
}

aside, aside a, footer {
       color: #F2FFFC;
}

blockquote {
       background: #D9E5E3;
       border: 10px #c2ccca solid;
       margin: 20px 40px;
       padding: 20px;
       width: 250px;
}

body {
       background: #F2FFFC;
}

div {
       margin: auto;
       padding: 30px 0;
       width: 720px;
}

em {
       font-style: italic;
}

h1, h2 {
       font-family: 'Open Sans Condensed', Arial, sans-serif;
}

h2 {
       font-size: 30px;
}

main {
       line-height: 1.5;
}

main a {
       color: #851944;
       font-family: "Open Sans Condensed", sans-serif;
}

main h1 {
       background-color: #851944;
       border-bottom: 10px solid #000;
       color: #fff;
       font-size: 60px;
       margin: 0;
       padding: 25px;
       text-align: center;
}

p {
       margin: 20px 0;
       text-align: justify;
}

strong {
       font-weight: bold;
}

ul {
       list-style-type: none;
}

#mainFooter {
       background: #000;
       padding: 20px;
}

.colorWhite {
       color: #F2FFFC;
}

.leiaMais {
       background: #3C1D3D;
       color: #F2FFFC;
       display: block;
       font-size: 20px;
       margin: 16px;
       padding: 8px;
       text-align: center;
}